.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.header-col {
  display: inline-block;
  vertical-align: middle;
}

.App-content {
  margin-top: 10px;
}

#reload-area {
  margin: 7px;
}

#status-bar {
  margin-bottom: 10px;
}

#status-bar TicketCount, #status-bar div {
  display: inline;
}
